body{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Merriweather Sans', sans-serif;
}
h1{
  font-family: 'Delicious Handrawn', cursive;
  font-size: 80px;
  font-style: italic;
  color:cornsilk
}
a:visited{
  color:cornsilk;
}