body{
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  width: 90%;
}
.container{
  border: 2px solid black; 
  border-radius: 8px;
  margin-top: 0;
  padding: 2%;
}
.nav-list, .links {
  display: flex;
  flex-direction:column;
  width: 100%;
  padding: 2px 3px 2px 3px;
  margin: 0 2px 2 -40px;
}
.nav-item, .links {
  background-color: rgb(181, 170, 170);
  border: 1px solid orange;
  border-radius: 5px;
  font-size: 12px;
  list-style: none;
  list-style-type: none;
  margin: 2 3px 2 -33px;
  padding: 2px 3px 2px 3px;
}
.role {
  list-style: none;
  margin-left: -20px;
}
.nav-item:hover {
  color: cornsilk;
  cursor: pointer;
  border-color: rgb(168, 154, 137);
  background-color: black;
}
#my-name{
  font-size: 1.7em;
  text-align: center;
}
#kenti-img{
  max-width: 35%;
  border: 1px solid green;
  border-radius: 8px;
}
.objective-container {
  display: flex;
  flex-direction: column;
}
.my_name{
  font-size: 100px;
}
/* - - - - Paragraphs - - - - - */
.reverse {
  background: black;
  color: white;
}
.links{
  border: 1px solid orangered;
  border-radius: 4px;
  font-size: 12px;
  justify-content: center;
  margin: 0 2px 0 2px;
  padding: 3px;
  width: 96%
}
.footer-link{
  background-color: gray;
  border: 1px solid orangered;
  border-radius: 4px;
  color: cornsilk;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin: 2px 4px;
  padding: 0 4px 0 4px;
  text-decoration: none;
}
.footer-link:hover{
  cursor: pointer;
}

.hidden{
  visibility: hidden;
}
.active{
  visibility: visible;
}
@media(min-width: 414px && max-width: 1180px){
  .nav-list {
    display: flex;
    flex-direction: rows;
  }
}