/* basic settings */
body{
  text-align: center;
  background-color: black;
  color: cornsilk;
  justify-content: center;
  width: 90%;
  margin: auto;
}
/* End of basic settings */

/* font stylings */
body{
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-family: 'Delicious Handrawn', cursive;
  font-family: 'Merriweather Sans', sans-serif;
}
h1{
  font-family: 'Delicious Handrawn', cursive;
  font-size: 60px;
  font-style: italic;
  color:cornsilk
}
a:visited{
  color:cornsilk;
}
/* End of font stylings */

.head-area>h1{
  line-height: 100px;
}
/* .head-container{
  color: white;
  height: 130px;
} */
.menuItems:hover{
  cursor: pointer;
}

.hdr-artist{
  width: 100%;
}
.content {
  background-color: rgb(115, 114, 108);
  border: 4px solid rgb(132, 126, 126);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  width: 100%;
  height: 400px;
}
#artist-image {
  border: 4px solid rgb(86, 84, 84);
  border-radius: 8px;
  height: 190px;
  margin-top: 0px;
}
div.scroll {
  background-color: #d9e5ff;
  border: 4px solid rgb(86, 84, 84);
  border-radius: 8px;
  display: grid;
  grid-template-rows: 170px;
  height: 300px;
  justify-content: center;
  margin-left: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 5px;
  text-align: center;
  width: 90%;
}
.card .card-link{
  background-color: gray;
  border: 4px solid rgb(57, 57, 60);
  border-radius: 8px;
  margin: 10px 5px 5px 0;
  padding: 5px 2px 5px 2px;
  width: 150px;
  height: 150px;
}
.card-link:hover{
  cursor: pointer;
}
.album-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

